$bkgrdPurple: #7F7FD5;
$borderBlack1: rgba(0,0,0,0.1);
$borderBlack4: rgba(0,0,0,0.4);
$borderIvory: #bfcfd6;
$green: #86bf9d;
$lightGreen: #82ccdd;
$blueGreen: #78e08f;
$notiFont: 0.7em;
$spanFont: 1.2em;

